body {
    background-color: white;
}

.container-general {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 96%;
}

.lft-container {
    width: 49%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    /*border: 1px solid red;*/
}

.right-container {
    width: 49%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /*border: 1px solid red;*/
    background-color: whitesmoke;
}

.right-container p {
    font-size: 30px;
    padding: 20px;
    text-align: center;
}

.right-container .name {
    font-size: 50px;
}

.right-container a {
    text-decoration: none;
    color: black;
}

.right-container .about {
    color: rgba(0,0,0,0.64);
}

.lft-container img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.img-container {
    width: 100%;
    height: auto;
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: row;
    justify-content: space-around;
    border-radius: 20px;
}

.right-container button a:hover {
    text-decoration: none;
    color: white;
}

.menu {
    width: 98%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.menu li {
    display: flex;
    flex-wrap: wrap;
    min-width: 200px;
    height: 40px;
    /*border: 1px solid whitesmoke;*/
    border-radius: 20px;
    color: black;
    text-transform: uppercase;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: ease-in-out 1.5s;
}

.menu ul li a {
    text-decoration: none;
    transition: ease-in-out 0.5s;
    color: black;
}

.menu a:hover {
    color: mediumvioletred;
    text-shadow: rebeccapurple 0 0 30px;
    transition: ease-in-out 0.5s;
    text-decoration: underline;
}

button {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 60px;
    color: black;
    background-color: white;
    border: 2px solid darkgrey;
    border-radius: 16px;
    font-size: 26px;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: ease-in-out 0.5s;
}

.right-container button {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 60px;
    color: black;
    background-color: white;
    border: 2px solid darkgrey;
    border-radius: 16px;
    font-size: 26px;
    align-items: center;
    text-transform: uppercase;
    transition: ease-in-out 0.5s;
}

button:hover {
    box-shadow: black 0 0 20px;
    background-color: black;
    color: white;
    transition: ease-in-out 0.5s;
}

.example {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
    border-radius: 20px;
}

.example-img {
    width: 20%;
    height: auto;
    border: 1px solid darkgrey;
    border-radius: 10px;
    margin: 20px;
    background-color: white;
    transition: ease-in-out 0.5s;
}

.example-img:hover {
    transition: ease-in-out 0.5s;
    box-shadow: blueviolet 0 0 20px;
    transform: scale3d(1.3, 1.3, 1.3);
}

.example-img img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.empty {
    display: flex;
    width: 90%;
    height: 60px;
    margin: 0 auto;
}

.empty-smoke {
    display: flex;
    justify-content: center;
    width: 1600px;
    height: 80px;
    /*margin: 0 auto;*/
    background-color: whitesmoke;
    border-radius: 20px;
    margin: 20px auto 20px auto;
}

.circle-wrapper {
    display: flex;
    width: 1600px;
    height: 66px;
    margin: 0 auto;
    align-items: center;
}

.circle {
    width: 64px;
    height: 64px;
    /*border-radius: 50%;
    background-color: green;*/
    animation-duration: 4s; /* Определяет время, в течение которого должен пройти один цикл анимации */
    animation-name: box;
    animation-iteration-count: infinite; /* Определяет количество повторений анимации; Вы можете использовать значение infinite для бесконечного повторения анимации. */
    animation-direction: alternate; /* Дает возможность при каждом повторе анимации идти по альтернативному пути, либо сбросить все значения и повторить анимацию. */
    transition: ease-in-out 2s;
}

.circle-2 {
    width: 64px;
    height: 64px;
    /*border-radius: 50%;
    background-color: green;*/
    animation-duration: 6s; /* Определяет время, в течение которого должен пройти один цикл анимации */
    animation-name: box-2;
    animation-iteration-count: infinite; /* Определяет количество повторений анимации; Вы можете использовать значение infinite для бесконечного повторения анимации. */
    animation-direction: alternate; /* Дает возможность при каждом повторе анимации идти по альтернативному пути, либо сбросить все значения и повторить анимацию. */
    transition: ease-in-out 2s;
}

.circle-3 {
    width: 64px;
    height: 64px;
    /*border-radius: 50%;
    background-color: green;*/
    animation-duration: 8s; /* Определяет время, в течение которого должен пройти один цикл анимации */
    animation-name: box-3;
    animation-iteration-count: infinite; /* Определяет количество повторений анимации; Вы можете использовать значение infinite для бесконечного повторения анимации. */
    animation-direction: alternate; /* Дает возможность при каждом повторе анимации идти по альтернативному пути, либо сбросить все значения и повторить анимацию. */
    transition: ease-in-out 2s;
}

.circle-4 {
    width: 64px;
    height: 64px;
    /*border-radius: 50%;
    background-color: green;*/
    animation-duration: 8s; /* Определяет время, в течение которого должен пройти один цикл анимации */
    animation-name: box-4;
    animation-iteration-count: infinite; /* Определяет количество повторений анимации; Вы можете использовать значение infinite для бесконечного повторения анимации. */
    animation-direction: alternate; /* Дает возможность при каждом повторе анимации идти по альтернативному пути, либо сбросить все значения и повторить анимацию. */
    transition: all linear 3.5s;
}

.circle:hover, .circle-2:hover, .circle-3:hover, .circle-4:hover {
    transform: rotate(360deg) scale(1.3) translate(20px, 20px);
    transition: ease-in-out 2s;
    transform-origin: top left;
}

/* настраиваем кадры анимации */
@keyframes box {
    from {
        margin-left: 10%;
    }
    /*60% {
        margin-left: 15%;
    }*/
    to {
        margin-left: 15%;
    }
}

@keyframes box-2 {
    from {
        margin-left: 15%;
    }
/*    50% {
        margin-left: 30%;
    }*/
    to {
        margin-left: 20%;
    }
}

@keyframes box-3 {
    from {
        margin-left: 20%;
    }
    /*65% {
        margin-left: 60%;
    }*/
    to {
        margin-left: 26%;
    }
}

@keyframes box-4 {
    from {
        margin-right: 0%;
    }
    50% {
        margin-right: 65%;
    }
    to {
        margin-right: 55%;
    }
}

/*                                     ABOUT PAGE                                   */

.underline {
    text-decoration: underline;
    transition: ease-in-out 1.5s;
}

.aboutPage {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 20px;
}

.aboutPage ul li {
    font-size: 30px;
    color: rgba(0,0,0,0.64);
    line-height: 40px;
    text-align: left;
    margin-left: 124px;
}

.aboutMe-img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.aboutPage img {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 31%;
    height: auto;
    border-radius: 20px;
    transition: ease-in-out 2.0s;
}

.aboutPage img:hover {
    transform: scale3d(0.8, 0.8, 0.8);
    transition: ease-in-out 1.5s;
}

.boofer {

    width: 1600px;
    height: 40px;
    margin: 0 auto;
}

.aboutPage h1 {
    font-size: 40px;
    color: black;
    text-align: center;
    text-transform: uppercase;
}

.aboutPage p {
    padding: 20px 60px 20px 60px;
    font-size: 30px;
    color: rgba(0,0,0,0.64);
    text-align: center;
    line-height: 40px;
}


/*                                     CONTACTS PAGE                                   */

.container-contacts {
    width: 96%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 0;
    width: 48%;
    height: auto;
    z-index: 2;
}

.contacts {
    width: 48%;
    height: auto;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    background-color: whitesmoke;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.contacts h1 {
    display: flex;
    width: auto;
    flex-wrap: wrap;
    font-size: 30px;
    color: black;
    text-transform: uppercase;
}

.contacts h2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 26px;
    font-weight: bold;
    color: rgba(0,0,0,0.64);
    margin-top: 2px;
}

.contacts p {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    color: rgba(0,0,0,0.64);
    transition: ease-in-out 0.5s;
    margin-top: 2px;
}

.left-container {
    width: 48%;
    height: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: whitesmoke;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.left-container img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.between {
    width: 2%;
    height: auto;
    background-color: white;
}

.contacts a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.contacts a:hover {
    text-decoration: underline;
}

.social {
    display: flex;
    justify-content: space-around;
    /*align-items: center;*/
    width: 100%;
    height: 60px;
    margin: 20px auto 10px auto;
    /*background-color: whitesmoke;*/
    border-radius: 20px;
}

.social-box {
    width: 50px;
    height: 50px;
    /*border: 1px solid rgba(0,0,0,0.64);*/
    border-radius: 10px;
    /*margin: 10px;*/
    background-color: white;
}

.social-box img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    transition: ease-in-out 0.5s;
}

.social-box img:hover {
    box-shadow: black 0 0 20px;
    background-color: black;
    color: white;
    transition: ease-in-out 0.5s;
}

/*                                     HOW TO ORDER PAGE                                   */

.wrapper-order {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.onTop {
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    color: black;
}

.onTop:hover {
    text-shadow: blueviolet 2px 2px 20px;
    color: blueviolet;
}

.onTop a {
    text-transform: none;
    text-decoration: none;
    color: black;
}

#top {
    transition: ease-in-out 1s;
    transition-delay: 1000ms;
}

.hm-container {
    width: auto;
    height: 900px;
    background-color: whitesmoke;
}

.step-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    border-radius: 20px;
}
.icon {
    margin-top: 20px;
    display: flex;
}

.icon img {
    width: 128px;
    height: 128px;
}

.step-1 h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.step-1 p {
    font-size: 30px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
    color: rgba(0,0,0,0.64);
    text-indent: 60px; /*отступ абзац*/
    line-height: 40px;
}

.empty-smoke-2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 140px;
    background-color: whitesmoke;
    border-radius: 20px;
    margin: 0 auto 20px auto;
}

.empty-smoke-3 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 140px;
    background-color: whitesmoke;
    border-radius: 20px;
    margin: 20px auto 10px auto;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 20px;
    color: black;
    /*text-transform: uppercase;*/
    justify-content: center;
    /*border: 1px solid green;*/
    margin: 0 auto 20px auto;
    background-color: whitesmoke;
    border-radius: 20px;
}

/*                                     FORM PAGE                                   */

.form-wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.inner-wrapper {
    width: inherit;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form img {
    width: 48%;
}

.form-img img {
    width: 100%;
    border-radius: 20px;
}

form {
    width: 92%;
    height: auto;
    font-size: 20px;
    color: rgba(0,0,0,0.64);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    line-height: 36px;

}

.border {
    border: 2px solid rgba(0,0,0,0.64);
    border-radius: 20px;
}

.form-name {
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    margin-bottom: 20px;
}

form input {
    height: 22px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.64);
    margin-bottom: 10px;
    width: 100%;
    transition: ease-in-out 0.5s;
    font-size: 16px;
    padding: 5px 5px 5px 10px;

}

input:hover {
    border: 1px solid mediumvioletred;
    box-shadow: rebeccapurple 0 0 20px;
    transition: ease-in-out 0.5s;
}

form input:active {
    color: red;
    border: blueviolet;
    font-size: 20px;
}

input:focus {
    outline: none !important; /* уберает черный бордер при фокусе */
    border-color: blueviolet;
}

.wrapper-order .btn-hto button {
    display: flex;
    max-width: 300px;
    height: 60px;
    color: black;
    background-color: white;
    border: 2px solid darkgrey;
    border-radius: 16px;
    font-size: 26px;
    text-transform: uppercase;
    transition: ease-in-out 0.5s;
    margin-top: 40px;
    margin-bottom: 20px;
}

.btn-hto button:hover {
    box-shadow: black 0 0 20px;
    background-color: black;
    color: white;
    transition: ease-in-out 0.5s;
}

.btn-hto a {
    text-decoration: none;
    color: black;
}

.btn-hto a:hover {
    text-decoration: none;
    color: white;
    transition: ease-in-out 0.2s;
}

.send-clear {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*                                     HAND MADE PAGE                                   */

.hm-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 360px;
    background-color: whitesmoke;
    border-radius: 20px;
}

.hm-wrapper-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 200px;
    border-radius: 20px;
    background-color: white;
    transition: ease-in-out 1s;
}

.hm-wrapper-box1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 30%;
    min-width: 280px;
    height: 200px;
    border-radius: 20px;
    background-color: white;
    transition: ease-in-out 1s;
}

.hm-wrapper-box1 p {
    display: flex;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    align-self: center;
}

.hm-wrapper-box div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hm-wrapper-box:hover, .hm-wrapper-box1:hover {
    background-color: whitesmoke;
    transition: ease-in-out 0.3s;
}

.hm-wrapper-box img {
    width: 60%;
    height: 60%;
    display: flex;
}