.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 10px auto;
    border-radius: 50px;
    background: linear-gradient(45deg, red, blue);
    box-shadow: 0 0 80px 40px rgba(0,0,0,0.5);
    /* смещение по ширине / смещение по высоте / радиус размытия / растяжение / цвет тени */
}

.buttons-colors {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto 10px auto;
    align-items: center;
    animation: myAnim 2.5s ease 0s 1 normal forwards;
}

.buttons-on-off {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    animation: myAnim 1.5s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-45px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(-24px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateY(-12px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateY(-6px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateY(-4px);
    }

    25%,
    55%,
    75%,
    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
}

.buttons-on-off button {
    border: 0px solid;
    border-radius: 16px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1.5px;
}

button.red {
    background-color: red;
    color: white;
    border: 1px solid white;
}

button.white {
    background-color: white;
    color: black;
    border: 1px solid white;
}

button.yellow {
    background-color: yellow;
    color: black;
    border: 1px solid white;
}

button.blue {
    background-color: blue;
    color: white;
    border: 1px solid white;
}

button.usual {
    background-color: rebeccapurple;
    color: white;
    border: 1px solid white;
}

.buttons-on-off button:hover {
    background-color: orangered;
    color: black;
    box-shadow: 0px 0px 14px 3px whitesmoke;
    /* смещение по ширине / смещение по высоте / радиус размытия / растяжение / цвет тени */
}

img {
    margin-top: 20px;
    width: 124px;
    height: 200px;
    transition: all 1.5s ease-in-out;
}

img:hover {
    transform: rotate(360deg);
}
button {
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
}

button:focus {
    animation: myAnimButtons 2s ease 0s 1 normal forwards;
}

@keyframes myAnimButtons {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }

    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }

    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
    }

    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
    }

    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}